.artist {
  color: var(--primary-black-light);
  margin: auto 0 100px auto;
  width: 95%;
  height: 100vh;
}

.artist > h1 {
  font-size: 48px;
  text-align: center;
  margin: 30px auto;
}

.artist-intro {
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: auto;
  max-width: 1500px;
}
.artist-intro > div {
  display: inline-block;
  vertical-align: top;
}

.artist-intro > div > img {
  width: 350px;
}

.artist-intro > div > p {
  padding: 0 0 0 40px;
  font-size: 14px;
  opacity: 0.9;
}

.section-description {
  margin: auto;
}